.thumbnail-container{
    width:15vw;
   height:150px;
   
}
.thumbnail img{
width:100%;
padding:3%;
height:100%;
   
}
.thumbnail img:hover{
    scale: 2;
    cursor: pointer;
    border-radius: 20px;
}