.list {
  width: 100%;
 
}
.list .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position:relative;
  }
.list .wrapper {
  display: flex;
  padding:1%;
  justify-content: space-between;
  align-items: center;
  width:max-content;

}

 .list .wrapper .arrow-icon{
      color:red;
    font-weight: 800;
    position:absolute;
    cursor:pointer;
}
.list .wrapper .left-ic{
    left:0px;
}
.list .wrapper .right-ic{
    right:0px;
}
.list .wrapper .container{
    transform: translateX(0px);
   
}