.navbar {
  padding: 2%;
  display: flex;
  flex-direction: column;
}
.navbar-container {
  padding: 1%;
  display: flex;
  color: white;
}
.navbar-container .left {
  width: 20%;

}
.navbar-container .right {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
}
.logo {
  width: 40%; 
  display:flex;
  justify-content: center;
align-items: center;
}
