/* homepage-color -black : #141414
color-red: #7f0a11*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=PT+Sans:ital@1&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,400;1,600&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  width:100vh;
  height:100vh;
  font-family: 'Poppins', sans-serif;
}